body {
  background-image: url('../images/NBA.jpg');
  color: white;
}

.container {
  margin: 30px auto;
}

.display-4 {
  font-family: 'Lobster Two', cursive;
}

.lead {
  font-family: 'IM Fell English SC', serif;
}

h3 {
  font-family: 'Indie Flower', cursive;
}

#random-number {
  margin-top: 40px;
  margin-bottom: 90px;
}
